<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>old man yells about cloud</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav><a href="/">old man yells about cloud</a></nav>
    </header>
    <main>
        <h1>Posts</h1>
        <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.slug }}.html">{{ post.title }}</a>
                <time>{{ post.date }}</time>
            </li>
        {% endfor %}
        </ul>
    </main>
</body>
</html>
